@import "utility.css";
:root{
    --primary:#3DCFD3;
    --dark:#161616;
    --pure:#FFFFFF;
    --ternary:#898989;
    --light:#F2F2F2;
    --secondary:#070606;
    
}


body{
    font-family:"Poppins", sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --webkit-font-smotthing:antialiased;

}


header{
    background-color:  var(--dark);
    clip-path:polygon(0 0, 100%  0, 100% 100%, 70% 87%, 0 100%);
}

.container{
    max-width:1052px;
    padding:0 15px;
    margin:0 auto;
}

header nav .left a{
    color:var(--pure);
    text-decoration:none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .3s ease;
}

header nav .left a:hover{
    color:var(--primary);
}

header nav{
    padding: 2rem 0;
}

.man{
    padding:3rem 0;
}

.man .left img{
    width: 300px;
}

.man .right{
    color:var(--pure);
}

.man .right h6{
    font-size:1.6rem;
    color:var(--primary);
    margin-top:2.5rem;
    margin-bottom:0.5rem;
}

.man .right h1 span{
    color:vat(--primary);
}

.man .right p{
    line-height:1.9;
    margin-bottom:2rem;
}

.man .right {
    margin-top:-7rem;
    margin-bottom: 2.5rem;
}

section{
    padding:6rem 0;
}

section.work{
    background:var(--light);
}

section.work .card-wrapper{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap:2rem;
}

section.work .card-wrapper .card{
    position:relative;
    height:250px;
}
section.work .card-wrapper .card .overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(61,207, 211,0.9);
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    color:var(--light);
    opacity:0;
    transition:all, .3s, ease;
}

section.work .card-wrapper .card:hover .overlay{
    opacity:1;
    
}


section.work .card-wrapper .card .overlay a{
    color:var(--secondary);
    text-decoration:none;
}

section.work .card-wrapper .card img{
    height:100%;
    width:100%;
}



section.blog{
    background:var(--dark);
    clip-path:polygon(0 0, 100% 0, 100% 100%, 67% 90%, 0 100%);
    padding-bottom:12rem;
}

section.blog .section-heading{
    color:var(--pure);
}

section.blog .card-wrapper{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap:3rem;

}

section.blog .card-wrapper .card{
    background:var(--pure);
}

section.blog .card-wrapper .card .img-wrapper img{
    width:100%;
    height:100%;
    object-fit:cover;
}

section.blog .card-wrapper .card .card-content{
    padding:1rem;
    padding-left:2rem;
    padding-right:2rem;

}

section.blog .card-wrapper .card .card-content h1{
    font-size:1rem;
    font-size:600;
}

section.blog .card-wrapper .card .card-content a{
    color:var(--secondary);
    text-decoration:none;
}

section.blog .card-wrapper .card .card-content a:hover{
    color:var(--primary);
}

section.blog .card-wrapper .card .card-content span{
    color:var(--ternary);
    font-size:0.8rem;
}

section.blog .card-wrapper .card .card-content p{
    font-weight:"Lato", sans-serif;
    color:var(--ternary);
    margin-top:1rem;
    margin-bottom:1rem;
}

section.blog .card-wrapper .card .card-content a.read-more{
    font-size:0.8rem;
}


section.services{
    background:var(--light);
}

section.services .card-wrapper{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    grid-column-gap:2rem;
    grid-row-gap:6rem;
    position: relative; 
    width: 756px;
    height: 203px;
    background: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom:15rem;
    place-items: center;
}

section.services .card-wrapper .card{
    background:var(--pure);
    padding:3rem 2rem;
    position:relative;
    padding-top:5rem;
    text-align:center;
    width: 15rem;
    height: 15rem;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
}

section.services .card-wrapper .card:hover{
    background:var(--dark);
    transform: rotateY(180deg);
}

section.services .card-wrapper .card .front-card{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background:var(--primary);
    color:var(--dark);
}

section.services .card-wrapper .card .back-card{
   position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background:var(--light);
    color:var(--ternary);
    text-align: center;
    transform: rotateY(180deg);

}

section.services .card-wrapper .card .front-card h1, .back-card h1{
    font-family: "Poppins", sans-serif;
    padding: 30px;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    
}

section.services .card-wrapper .card .front-card p, .back-card p{
 font-family: "Poppins", sans-serif;
  padding: 30px;
  font-weight: normal;
  font-size: 12px;
  text-align: center;

}

section.review .slider .slide img{
    width:100px;
    height:100px; 
    border-radius:50%;
    object-fit:cover;
    margin-bottom:2rem;
 }
 
 section.review .slider .slide{
     text-align:center;
     display:flex;
     align-items:center;
     flex-direction:column;
     padding:0 10rem;
 }
 section.review .slider .slide p{
     font-family:"Lato", sans-serif;
     color:var(--ternary);
     margin-bottom:1rem;
 }
 
 section.review .slider .slide span{
     font-size:0.8rem;
 
 }
 section.review .slider-dots .dots{
     list-style-type:none;
     display: flex !important;
     justify-content:center;
 
 }
 
 section.review .slider-dots {
     margin-top:3rem;
 }
 
 section.review .slider-dots button{
     font-size:0;
     width:8px;
     height:5px;
     margin-right:0.3rem;
     border: none;
     outline: none;
     background:var(--ternary);
     border-radius:50px;
     cursor:pointer;
 }
 
 section.review .dots li.slick-active button{
     background:var(--primary);
     width:20px;
 }

 
section.freelancer{
    text-align:center;
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/camera.png);
    color:var(--pure);
    clip-path:polygon(0 0, 100%  0, 100% 100%, 67% 80%, 0 100%);
    padding-bottom:15rem;
}

section.freelancer h1{
    font-size:2rem;
    margin-bottom:0.5rem;
}

section.freelancer p{
    margin-bottom:2rem;
    font-family:"Lato", sans-serif;
}

section.freelancer a{
    text-decoration:none;
    text-transform: uppercase;
}

.section-heading{
    color:var(--secondary);
    text-align:center;
    margin-bottom:1rem;
    line-height:0.5;
}
.section-heading + p{
    color:var(--ternary);
    font-family:"Lato", sans-serif ;
    margin-bottom:8rem;
    text-align:center;
}

.section-heading span{
    color:var(--primary);
}


section.contact .card-wrapper{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    grid-gap:3rem;
}

section.contact .card-wrapper .card{
    text-align:center;
}

section.contact .card-wrapper .card img{
    margin-bottom:3rem;
    width:60px;
    height:60px;
}

section.contact .card-wrapper .card h1{
    font-weight:400;
    margin-bottom:1rem;

}

section.contact .card-wrapper h5{
    font: size 1rem;
    color:var(--ternary);
    font-weight:400;
    margin-bottom:4rem;
}

footer{
    background:var(--dark);
    text-align:center;
    padding:5rem 0;
}

footer .copyright{
    color:var(--ternary);
}


@media only screen and (max-width: 600px) {
    body {
        font-family:"Poppins", sans-serif;
    }

    .container{
        max-width:100%;
        padding:0 15px;
        margin:0 auto;
    }
    
    .man .left img{
    width:50%;
    }

    header{
        background-color:  var(--dark);
        clip-path:polygon(0 0, 100%  0, 100% 100%, 70% 90%, 0 100%);
        width:100%;
    }

    section.blog{
        background:var(--dark);
        clip-path:polygon(0 0, 100% 0, 100% 100%, 67% 95%, 0 100%);
        padding-bottom:12rem;
    }

    section.blog .card-wrapper{
    display:contents;
    }

    section.blog .card-wrapper .card .img-wrapper img{
        width:100%;
        height:100%;
        object-fit:cover;
    }

    section.work .card-wrapper .card img {
        height: 55%;
        width: 100%;
    }

    .middle{
        margin: 10px auto;
    }
    
    section.services .card-wrapper{
         display:contents;
    }

    section.contact .card-wrapper{
        display:contents;   
      
    }
    
}